USE [DistrisysDW]
GO
/****** Object:  Table [dbo].[FactFacture]    Script Date: 18/12/2023 10:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactFacture](
	[DateFacturation_FK] [int] NOT NULL
) ON [PRIMARY]
GO
